fastapi==0.115.0
uvicorn==0.30.0
torch
torchvision
transformers
pillow
opencv-python-headless==4.10.0.84
pillow==10.4.0
numpy==1.26.4
huggingface_hub==0.25.0
python-dotenv==1.0.1
python-multipart==0.0.9
